@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  background:#262626;
  color:#fff;
  min-width: 350px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Pacifico', cursive;
}

.container {
  margin:50px auto;
  text-align:center;
  width: 100%;
  max-width: 800px;
  
}

#pomodoro {
  margin: 0 auto;
  position: relative;
  padding: 0px 10px;
}

.tomato {
  width:280px;
}


#timer-label {
  position: absolute;
  top: 30%;
  left:16%;
  font-size: 2em;
  width: 70%;
  color: #efc4c4;
}

#time-left {
  color: #fff;
  font-size: 3.5em;
  font-weight: bold;
  position: absolute;
  top: 42%;
  left: 40%;
}

.btn {
  margin: 5px;
  padding: 15px 20px;
  background:#262626;
  color:white;
  font-size: 1rem;
  cursor:pointer;
  border: 2px solid white;
  border-radius:30%;
}

.btn:focus {
  outline:none;
}

#start_stop {
  position:absolute;
  top:70%;
  left:44%;
  width:100px;
  height:40px;
  background:#fff;
  color:#E23C3D;
  border-radius:10%;
  padding:10px;
  font-size:.8rem;
}

.settings {
  margin:30px;
  display:flex;
  justify-content:space-around;
  align-items:center;
}

#reset {
  height:50px;
  background:#262626;
  color:white;
}

.session p, .break p {
  color: #fff;
  padding:5px 30px;
  border-radius:5px;
}

.btn-wrapper {
  display:flex;
  justify-content:space-between;
  align-items:center;
}

#break-length, #session-length {
  font-size:2rem;
}